/* GENERAL SETUP */
:root {
  --main-orange: #f76707;
  --main-grey: #343a40;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  color: var(--main-grey);
  font-size: 1.8rem;
}

/* NAVBAR */
.nav-bar {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ff922b;
  border-bottom: 1px solid var(--main-grey);
}

.nav-bar__link:link,
.nav-bar__link:visited {
  text-decoration: none;
  font-size: 2rem;
  display: block;
  padding: 2rem;
  color: var(--main-grey);
}

.nav-bar__link:last-child {
  margin-right: 2rem;
}

.nav-bar__link:hover,
.nav-bar__link:active {
  color: #212529;
  background-color: #ffa94d;
  transition: background-color 0.2s;
}

/* WELCOME SECTION */
.welcome {
  height: 100vh;
  background: linear-gradient(62deg, #ffa94d 0%, #ffd8a8 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.welcome__title {
  font-size: 6.2rem;
  font-weight: 600;
  letter-spacing: -2px;
}

.welcome__subtitle {
  font-size: 3.6rem;
  color: #495057;
  font-style: italic;
}

/* REUSABLE ELEMENTS */
.section {
  padding: 10rem 2rem;
  border-top: 1px solid var(--main-grey);
}

.section__title {
  font-size: 4.4rem;
  font-weight: 600;
  letter-spacing: -1px;
  text-align: center;
}

.section__title::after {
  content: "";
  display: block;
  width: 60px;
  height: 4px;
  background-color: var(--main-orange);
  margin: 3rem auto;
}

.section__subtitle {
  font-size: 3rem;
  font-style: italic;
  font-weight: 400;
  text-align: center;
  margin-bottom: 4rem;
}

/* PROJECTS SECTION */
.section--projects {
  background-color: #ffd8a8;
}

/* PROJECTS GRID */
.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content: center;
  align-items: center;
  gap: 4rem;
  margin: 0 auto;
  margin-bottom: 6rem;
  max-width: 1300px;
}

.project:link,
.project:visited {
  display: inline-block;
  text-decoration: none;
  background-color: #495057;
  color: #f0f0f0;
}

.project:hover .project__title--code {
  color: #fd7e14;
}

.project__image {
  display: block;
  width: 100%;
  height: auto;
}

.project__title {
  font-size: 2.4rem;
  padding: 1.2rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
}

.project__title--code {
  font-size: 3.6rem;
  color: #495057;
  transition: color 0.3s ease-out;
}

/* CONTACT SECTION */
.section--contact {
  background-color: #ffc078;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact {
  display: flex;
  justify-content: center;
  gap: 4rem;
}

.contact__link:link,
.contact__link:visited {
  text-decoration: none;
  color: var(--main-grey);
  font-size: 2.4rem;
  transition: transform 0.2s ease-out;
}

.contact__link:hover,
.contact__link:active {
  color: #212529;
  transform: translateY(8px);
}

/* FOOTER */
.footer {
  padding: 5rem 2rem;
  background-color: #ffc078;
  border-top: 4px solid var(--main-orange);
  text-align: center;
}

.footer__link:link,
.footer__link:visited {
  text-decoration: none;
  color: var(--main-grey);
}

.footer__link:hover,
.footer__link:active {
  color: #212529;
}

/* MEDIA QUERIES */
@media screen and (max-width: 51.8em) {
  html {
    font-size: 55%;
  }
}

@media screen and (max-width: 31.25em) {
  html {
    font-size: 45%;
  }

  .projects-grid {
    grid-template-columns: 1fr;
  }

  .contact {
    flex-direction: column;
    align-items: center;
  }
}
